@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    box-sizing: border-box;  
    color: #1a508b !important;  
}

.area {
    width: 95%;
    height: 100%;
    float: right;
    margin: 30px 10px 0;
}
.cards{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content : center;
    margin: 30px auto !important;
}

.d_card{
    border-radius: 15px;
    padding: 10px 25px;
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fcd1d1;
    height: 200px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.card-data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 30px;
}

.card-data .fa{
    font-size: 1.2cm;
    color: #000;
}

.card-data h4{
    font-size: 1cm;
}

.cards .d_card h2{
    font-size: 0.7cm;
    font-family: Lora, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 600;
}

@media (max-width: 600px) {
    .area{
        margin-top: 10px;
    }
}